body {
    background-color: #222;
    color: #ddd;
    font-family: sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 1em;
  }
  
  h1 {
    color: #fff;
  }
  
  .task-form,
  .task-edit-form {
    background-color: #444;
    padding: 1em;
    border-radius: 5px;
  }
  
  .task-form input,
  .task-edit-form input,
  .task-edit-form select {
    background-color: #333;
    color: #ddd;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  
  .task-form button,
  .task-edit-form button {
    background-color: #555;
    color: #ddd;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
  }
  
  .tasks {
    background-color: #333;
    padding: 1em;
    border-radius: 5px;
  }
  
  .task {
    border-bottom: 1px solid #555;
    padding: 0.5em 1em;
  }
  
  .task h2,
  .task h4 {
    color: #ddd;
    margin-bottom: 0.5em;
  }
  
  .task h4 {
    font-size: 0.8em;
    opacity: 0.8;
  }
  
  .editButton {
    background-color: transparent;
    border: none;
    color: #ddd;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #444;
  }
  